.home-image {
    box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.6);
    display: block;
    margin: 0 auto 1em;
    max-width: 80%;
}

.news-box__content {
    padding: 1rem;

    p {
        margin: 0;
    }
}

.logos {
    padding: 2rem;
    text-align: center;
}

.logos img {
    box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.6);
    margin: 0 20px;
}
