.doctorcard {
    padding: 0 1em;
    border: 1px solid #666;
    border-radius: 3px;
    box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.6), 0 0 20px hsla(0, 0%, 0%, 0.4);
    margin-bottom: 2em;
    margin-top: 1em;
}

.cardbody {
    display: flex;
}

.imagecontainer {
    flex: 0 0 25%;
    margin-right: 1em;
    margin-bottom: 1em;
}

@media only screen and (max-width: 650px) {
    .imagecontainer {
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 450px) {
    .cardbody {
        display: block;
    }
}